*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.title{
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul {
    position: relative;
    display: flex;

}
header ul li {
    list-style: none;
}
header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 20px;
    text-decoration:solid;
}
.cont{
    display: flex;
    background-color: firebrick;
}
.section2{
    display: inline-block;
    min-height: 50vh;
    background-color: #fff;
    width: 100%;
    margin-left: 30px;
}
.NtawvIbTug{
    font-size: 40px;
    font-weight: bold;
    color: coral;
}
.NtawvObTug{
    font-size: 40px;
    font-weight: bold;
    color:coral;
}
figure.item{
  
   margin-top: 60px;
   margin-bottom: 70px;
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 350px;
}
img{
    width: 300px;
    height: 350x;
}
.caption{
    display: block;
    font-size: 80px;
}
.dropdown{
    font-size: 80px;
    display:none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    padding: 8px 12px;
    z-index: 1;
  
} 

.item:hover .dropdown{
    display: contents;
}
.section3{
    margin-left: 30px;
    display: inline-block;
    min-height: 50vh;
    background-color: #fff;
    width: 100%;
}

